* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.hold {
  width: 480px;
  height: 300px;
  margin: auto;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hold h3 {
  font-size: 30px;
  color: #333;
  opacity: 0.8;
  text-align: center;
}

.okbtn {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: blue;
  color: #eee;
  border-radius: 3px;
  margin-top: 5px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
}

span {
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.ok {
  display: flex;
  justify-content: center;
}
